include ./mixins/_index

doctype html
html(lang="en")
    head
        +meta-data("Khaled Mohamed")

        +meta-desc("Just a description!")

        +meta-words("HTML, CSS, JS, PugJS, Front End Challenge, Front End Mentor")

        link(rel="shortcut icon" href="./public/favicons/favicon.ico" type="image/x-icon")
        link(rel="manifest" href="./public/favicons/site.webmanifest")

        +space()

        title Social Links Profile Main

        +space()

        link(rel="stylesheet" href="./public/style.css")

    body
        +no-script()